*.csv
*.jpeg
*.jpg
*.json
*.txt
*.pdf
*.pickle
*.png
*.xml
*.zip

.bash_history
.cache
.config
.DS_Store
.env
.gitconfig
.ipynb_checkpoints
.ipython
.jupyter
.local
.ssh
.vscode-server

data
models
past
nltk_data
scikit_learn_data

work/mecab-ipadic-neologd

!requirements.txt