*.csv
*.jpeg
*.jpg
*.jpg
*.json
*.txt
*.pdf
*.pdf
*.pickle
*.png
*.png
*.pyc
*.xml
*.zip
*.model
*.npy

.bash_history
.cache
.config
.dotnet
.DS_Store
.env
.gitconfig
.ipynb_checkpoints
.ipython
.jupyter
.local
.ssh
.vscode-server

etmenv
data
models
nltk_data
past
scikit_learn_data
temporary
tmp
__pycache__



work/mecab-ipadic-neologd

!requirements.txt